
.event-card2 {
    background-color:#1a1a1a;
    clip-path: polygon(100% 0, 100% 85%, 80% 100%, 0 100%, 0 0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    width: 300px;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out; 
  }

  .event-card2:hover {
    filter: grayscale(0%);
    cursor: pointer;
  }

  .event-cards2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5rem;
  }

  .bookButton {
    font-family: SF Pro;
    font-size: 14px;
    color: #C7C7C7;
    background-color: #fd5927;
    border: none;
    height: 30px;
    width: 100px;
    margin-top: 15px;
  }

  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color:#C7C7C7;
  }

  .bookButton:hover {
    cursor: pointer;
    text-decoration: none;
    a:link { text-decoration: none; }
    a:visited { text-decoration: none; }
    a:hover { text-decoration: none; }
    a:active { text-decoration: none; }
  }

  .bookButton a:visited {
    text-decoration: none;
  }

  .event-subtitle {
    color:#C7C7C7;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    margin-top: -3rem;
    margin-bottom: 5rem;
    font-weight: 300;
  }
  
  .ticket-price {
    color: #C7C7C7;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .featured-celebrity {
    color: #C7C7C7;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  img {
    width: 100%;
    height: auto;
    object-fit: cover; 
  }