body {
	padding:10px;
}
article {
	columns: 4;
}
section {
	margin-bottom: 15px;
    padding: 7px;
}
.images img, video{
 	width:  100%; 
	-webkit-box-shadow: -1px 3px 34px 0px rgba(253, 89, 39, 1);
 	-moz-box-shadow: -1px 3px 34px 0px rgba(253, 89, 39, 1);
	box-shadow: -1px 3px 34px 0px rgba(253, 89, 39, 1);
}	
.gallery {
    margin-top: 2000px;
  height: 500px;
  width: 100%;
  color: #0a0a0a;
  z-index: -1;
  position: static;
  background-color: #141414;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  z-index: 100;
}


